body {
    background-color: rgb(255, 255, 230);
}

.skip-nav {
    background-color: #f8f9fa;
    display: inline-block;
    left: 0;
    padding: 14px;
    position: fixed !important;
    top: 0;
    z-index: 100;
}
