body {
    background-color: rgb(255, 255, 230);
}

.skip-nav {
    background-color: #f8f9fa;
    display: inline-block;
    left: 0;
    padding: 14px;
    position: fixed !important;
    top: 0;
    z-index: 100;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .w-sm-auto {
        width: auto !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .w-lg-auto {
        width: auto !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .w-xl-auto {
        width: auto !important;
    }
}

